* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
	a {
		color: black;
	}
}

a:hover {
	color: blue;
	text-decoration: none;
}

header {
	background: linear-gradient(to right, rgb(97, 236, 139), rgb(97, 236, 183)) no-repeat 0 0 / cover;
	background-color: rgb(97, 236, 183);
	box-shadow: 0 5px 28px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgb(98, 231, 138);

	#my-logo {
		img {
			width: 50px;
			height: 50px;
		}
	}

	#my-title {
		img {
			width: 50%;
		}
	}
}

main {
	.myRow {
		height: 87vh;
	}

	#main-container {
		background-color: rgb(255, 255, 255);
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.24);

		.card {
			border: none;
		}

		#moviesInfo {
			border: 1px dashed rgba(0, 0, 0, 0.192);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
		}
	}
}

footer {
	height: 35px;
	background-color: rgb(84, 247, 84);
	.row {
		height: 100%;
	}
}
